*

!agg_dim/particle_counters.py
!agg_dim/weather.py
!agg_dim/experiment.py
!docu/
!.py
!.md
!.txt
!.gz
!.whl
!docu
!change.log
!LICENSE
!dist
!agg_dim
!agg_dim.egg-info
!PKG-INFO
!.gitignore
!docs
!docs/agg_dim
!docs/agg_dim/*
!.github/
!.github/workflows
!.github/workflows/*